{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Video Classification With VGG16</h1>
    <a type="button" class="btn btn-lg btn-default" href="{% url 'upload-video' %}"><span class="glyphicon glyphicon-download"></span>Upload Video</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Upload your own Video(s)<a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">To Get Started</a>
  </div>
  <hr>
  <div class="row">
   
  </div> <!-- row -->
 
</div>
{% endblock %}
